html, body {
  background-color: #ffeead;
  margin: 10px;
}

.container {
  display: grid;
  grid-template-columns: 533px 533px;
  grid-template-rows: 185px 185px;
  grid-gap: 30px;
}

.container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

.container > button:nth-child(1n) {
  background-color: #96ceb4;
}

.container > button:nth-child(3n) {
  background-color: #88d8b0;
}

.container > button:nth-child(2n) {
      background-color: #ff6f69;
}

.container > button:nth-child(4n) {
      background-color: #ffcc5c;
}
